<div class="app__page">
  <mat-toolbar class="app__toolbar">
    <span class="app__title app__title--secondary">AlfaCar</span>
  </mat-toolbar>

  <mat-drawer-container
    class="app__page--container"
    [hasBackdrop]="false"
    autosize>

    <mat-drawer #side_menu
      class="app__side-menu"
      mode="side"
      [opened]="true"
    >
      <div
        class="app__side-menu--content"
      >
        <div class="app__side-menu--btn-container app__side-menu--btn-toggle-container">
          <button mat-button
            class="app__btn--side-menu-toggle"
            (click)="toggleSideMenu()">
            <mat-icon class="app__btn app__btn--side-menu-toggle-icon">menu</mat-icon>
          </button>
        </div>

        <div class="app__side-menu--btn-container">
          <button mat-button class="app__btn--side-menu">
            <mat-icon class="app__btn--side-menu-icon">home</mat-icon>
            <span class="app__btn--side-menu-text">Home</span>
          </button>
        </div>
        <div class="app__side-menu--btn-container">
          <button mat-button class="app__btn--side-menu" (click)="accessPage('clients')">
            <mat-icon class="app__btn--side-menu-icon">person</mat-icon>
            <span class="app__btn--side-menu-text">Clientes</span>
          </button>
        </div>
        <div class="app__side-menu--btn-container">
          <button mat-button class="app__btn--side-menu">
            <mat-icon class="app__btn--side-menu-icon">settings</mat-icon>
            <span class="app__btn--side-menu-text">Configuração</span>
          </button>
        </div>
      </div>
    </mat-drawer>

    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>
