@use '../styles.scss' as core_style;

.app-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-toolbar {
  background-color: core_style.$app-light-background;
}

.app-main-title {
  font-weight: 600;
  color: core_style.$app-light-onbackground-text;
}

.app-page-content-container {
  width: 100%;
  height: 100%;
  border: none;
}

.app-page-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.app-side-menu {
  max-height: 100%;

  margin: 1rem;
  padding: 1rem;

  border: none;
  border-radius: 1rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  // transform: translateX(1rem)!important;

  // &-expandend
}

.app-side-menu-content {
  display: flex;
  flex-direction: row-reverse;
}

.app-btn-toggle-side-menu {
  margin: 1rem;

  border-radius: 2rem;
  box-shadow:none;
}

.app-side-menu-content {

}
