<div class="app-page-container">
  <mat-toolbar class="app-toolbar">
      <span class="app-main-title">AlfaCar</span>
  </mat-toolbar>

  <mat-drawer-container
    class="app-page-content-container"
    [hasBackdrop]="false"
    autosize>

    <mat-drawer #side_menu
      class="app-side-menu"
      mode="side"
      [opened]="true">
      <div
        class="app-side-menu-content">
        <button
          mat-fab
          aria-label="Example icon button with a menu icon"
          class="app-btn-toggle-side-menu"
          (click)="toggleSideMenu()">
          <mat-icon>menu</mat-icon>
        </button>

        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
          class="app-btn-toggle-side-menu"
          (click)="toggleSideMenu()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-drawer>

    <div class="app-page-content">
      <button type="button" mat-button>
        Toggle sidenav
      </button>
    </div>
  </mat-drawer-container>
</div>
